<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/faculty/dashboard">Dashboard</a></li>
		<li><a href="/faculty/donate">Donate</a></li>
		<li><a href="/faculty/donations/pending">My Pending Donations</a></li>
		<li><a href="/faculty/donations/previous">My Previous Donations</a></li>
		<li><a href="/faculty/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>